.progress {
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 15px;
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
  top: calc(50% - 8px);
}

.dashboard-pane-subframe .progress {
  border: 1px solid rgba(0,114,198,0.2);
}

