#chart-btn {
	max-width: 102px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#export-btn {
	max-width: 90px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-btn {
	/* max-width: 103px; */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}