#dashboard-container, #duration-container {
  height: calc(100vh - 78px);
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  padding: 0px 5px;
}

.page-subheader {
  height: 32px;
  padding: 5px 0px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(196, 204, 204, 0.5);
  color: black;
}

.page-subheader .headerspan {
  display: flex;
}

.dashboard-pane {
  height: calc(50% - 1px);
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 5px 5px;
  min-height: 220px;
}

.dashboard-pane:nth-child(n + 0):nth-child(-n + 5) {
  padding-bottom: 5px;
  padding-top: 5px;
}

.dashboard-pane:nth-child(n + 6):nth-child(-n + 10) {
  padding-top: 5px;
}

.dashboard-pane-frame {
  height: 100%;
  width: 100%;
  border: 1px solid #c4cccc;
  border-radius: 0.3rem;
  background-color: rgba(181,209,232,0.4);
}

.dashboard-pane-subframe {
  height: 22%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  transition: background 0.5s ease;
}

.duration {
  height: 25%;
}

.dashboard-pane-subframe:nth-child(2) {
  transition: color 0.5s ease;
}

.dashboard-pane-subframe:last-child:not(.duration) {
  border-bottom: none;
  height: 34%;
}

.dashboard-pane-subframe > div:nth-child(1) {
  height: 40%;
  padding: 5px 15px;
}

.dashboard-pane-subframe div:nth-child(1) span {
  font-size: 0.9rem;
}

.dashboard-pane-subframe > div:nth-child(2) {
  height: 60%;
  font-size: 1.15rem;
  padding: 5px 15px;
  text-align: right;
  font-weight: 500;
}

.dashboard-pane-subframe:last-child:not(.duration) > div:nth-child(1) {
  height: 20%;
}

.dashboard-pane-subframe:last-child:not(.duration) > div:nth-child(2) {
  height: 50%;
  font-size: 1.3rem;
  padding-top: 15px;
}

.kiosk .dashboard-pane-subframe > div:nth-child(2) {
  font-size: 1.6rem !important;
  font-weight: bold;
}

.dashboard-pane-subframe:last-child:not(.duration) > div:last-child {
  padding: 0px 15px;
}

.dashboard-pane-subframe .progress {
  border: 1px solid rgba(0,114,198,0.2);
}

.btn.btn-sm.shadow-none.dash-setting {
  position: absolute;
  right: 150px;
  top: 1px;
}

.dash-paging {
  position: absolute;
  top: 3.5px;
  right: 17px;
  background-color: transparent !important;
}

.dash-paging label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.dash-page-left, .dash-page-right {
  position: relative;
  top: -1px;
  background-color: transparent !important;
  font-weight: 300;
}

.last-update {
  position: absolute;
  right: 82px;
  top: 7px;
  font-size: 0.8rem;
  width: auto !important;
}

#overview-tab .last-update {
  right: 17px;
}

.dash-page-btn {
  height: 100%;
  width: 95px;
  position: fixed;
  top: 0px;
  z-index: 900;
  background-color: rgba(0,0,0,0.5) !important;
  border: none !important;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.dash-page-btn:hover {
  opacity: 1;
}

.dash-page-btn.dash-page-left {
  left: 0px;
}

.dash-page-btn.dash-page-right {
  right: 0px;
}

.dash-page-btn > i {
  position: relative;
  top: calc(50% - 10px);
  opacity: 0.8;
}

#headerShadow {
  position: absolute;
  top: 0;left: 50px;
  height: 47px;
  width: calc(100% - 240px);
  background-color: transparent;
}

@media (min-height: 1025px) {
  .dashboard-pane {
    max-height: 390px;
  }
}

@media (max-width: 768px) {
  .dashboard-pane {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .dashboard-pane:nth-child(6) {
  }
}

@media (max-width: 576px) {
  .last-update {
    display: none;
  }
}

@media (max-width: 576px) {
  .dashboard-pane {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .dashboard-pane:nth-child(5) {
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  #pref-btn label, #logout-btn label {
    display: none;
  }

  #headerShadow {
    width: calc(100% - 115px);
  }
}

@media (max-width: 576px) {
  .dash-page-btn {
    width: 60px;
  }
}

@media (max-height: 639px) {
  .dashboard-pane-subframe div:nth-child(1) span {
    font-size: 0.8rem;
  }
}

@media (max-height: 639px) {
  .dashboard-pane-subframe > div:nth-child(2) {
    font-size: 0.9rem;
  }
}

@media (max-height: 639px) {
  .dashboard-pane-subframe:last-child:not(.duration) > div:nth-child(2) {
    font-size: 0.9rem;
  }
}

@media (max-height: 639px) {
  .kiosk .dashboard-pane-subframe > div:nth-child(2) {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

