#detail-title {
    grid-area: title;
}
#detail-refresh-btn {
    grid-area: refresh;
}

#detail-show-data-btn {
    grid-area: show-data;
}

#detail-export-btn {
    grid-area: export;
}

#detail-fr {
    grid-area: from;
}

#detail-to {
    grid-area: to;
}

#detail-view-btn {
    grid-area: view;
}

#detail-fr,
#detail-to {
    display: inline-flex;
    width: 8.8rem;
}

#detail-fr > input, 
#detail-to > input {
    /*height: 33px;*/
    /*border: 1px solid #fff;*/
    /*border-color: rgba(0, 0, 0, 0.3) !important;*/
    /*background-color: transparent;*/
    /*color: black !important;*/
}

/*.dark-bg #detail-fr > input,
.dark-bg #detail-to > input {
    border-color: rgba(255,255,255,0.3) !important;
    color: #fff !important;
}*/

#detail-detailDevice {
    grid-area: devselect;
}

#detail-detailJobs {
    grid-area: jobselect;
}

#toggle-detail {
    grid-area: toggle;
    display: none;
    min-width: 8.8rem;
    justify-self: end;
}

#detail-subheader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5.5rem 7rem 5.5rem 8.8rem 8.8rem 5.5rem 8.8rem 8.8rem;
    grid-template-areas: 'title refresh show-data export from to view devselect jobselect';
    grid-gap: 0.2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(196, 204, 204, 0.5) !important;
    color: black;
}

.dark-bg #detail-subheader {
    background-color: #30383a !important;
    color: white;
}

#detail-subheader button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* #detail-tab .sidepanel {
    visibility: hidden;
} */

#timegraph-container {
    flex-grow: 1;
    height: auto !important;
}

#detail-tab {
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 47px); */
    height: 100%;
}

#detail-table-content {
    flex-grow: 1;
}

#detail-table-content .tbl-container {
    height: 100%;
}

#detail-table-content .unprodTable {
    margin-top: 0px !important;
}


@media only screen and (max-width: 1124px) {
    #detail-subheader {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 7rem 7rem 8.8rem 8.8rem 8.8rem;
        grid-template-areas: 
            'title show-data export    from      to        view'
            '.     .         .         refresh   devselect jobselect';
    }
}

@media only screen and (max-width: 900px) {

    #detail-subheader {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 8.8rem;
        grid-template-areas: 'title toggle';
        height: 2.9375rem;
        transition: ease-in-out all .2s;
    }

    .active#detail-subheader {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /* grid-template-areas:
            'title     title     show-data export'
            'from      from      to        to'
            'devselect devselect jobselect jobselect'
            '.         .         refresh   view'
            '.         .         toggle    toggle'; */
        grid-template-areas:
            'title     title     .         .        '
            'show-data export    refresh   view'
            'from      from      to        to'
            'devselect devselect jobselect jobselect'
            '.         .         toggle    toggle';
        height: 12.109375rem;
    }

    #toggle-detail {
        display: unset;
    }

    #detail-show-data-btn,
    #detail-export-btn,
    #detail-fr,
    #detail-to,
    #detail-detailJobs,
    #detail-detailDevice,
    #detail-refresh-btn,
    #detail-view-btn {
        display: none;
    }

    .active > #detail-fr,
    .active > #detail-to {
        display: inline-flex;
        width: auto;
    }

    .active > #detail-show-data-btn,
    .active > #detail-export-btn,
    .active > #detail-detailJobs,
    .active > #detail-detailDevice,
    .active > #detail-refresh-btn,
    .active > #detail-view-btn {
        display: inline-block;
    }

    /* #detail-table-content {
        overflow-y: scroll;
    } */

    #detail-table-content .tbl-container {
        height: calc(100vh - 5.875rem);
    }

    #detail-table-content .table-responsive {
        height: 100% !important;
    }
}

@media only screen and (max-width: 320px) {
    #detail-show-data-btn > span, 
    #detail-export-btn > span,
    #detail-refresh-btn > span,
    #detail-view-btn > span {
        display: none;
    }
}

/***************************http-1201 bug #21 fix - Improved 12-15-22***************************/
#unproductiveTbl_paginate
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#unproductiveTbl_paginate a.paginate_button.previous, #unproductiveTbl_paginate a.paginate_button.next
{
    padding-left: 0;
    padding-right: 0;
}

#unproductiveTbl_paginate>span
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#detail-tab .dataTables_info, #detail-tab .dataTables_paginate 
{
    float: none;
}

#unproductiveTbl_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 425px) {
    #unproductiveTbl_footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

#unproductiveTbl_info {
    /* Same as datatables css padding-top */
    padding-bottom: 0.85em;
    white-space: pre-line;
    word-break: normal;
}
/***********************************************************************************************/

/******************************Hanz: For http-1201 bug #22 fix**********************************/
#detail-table-content {
    height: auto;
    overflow-y: auto;
}

#detail-table-content .tbl-container.unprodTable {
    height: 100%;
}

@media screen  and (min-width:901px) and (max-width: 1124px) {
    #detail-table-content
    {
        height: calc(100% - 81.19px);
    }
}
@media screen  and (min-width:1125px) {
    #detail-table-content
    {
        height: calc(100% - 47px);
    }
}
/***********************************************************************************************/