#summary-tab {
    display: flex;
    flex-direction: column;
    height: inherit;
    height: 100%; /*fix for missing lower buttons*/
}

#summary-content {
    margin-top: 0;
}

#summary-view-btn {
    grid-area: view;
    /*fix for misalligned buttons on small screen*/
    position: static;
    width: auto;
    height: auto;
}

#summary-show-data-btn {
    grid-area: show-data;
}

#summary-export-btn {
    grid-area: export;
}

#summary-today-btn {
    grid-area: today;
    /*fix for misalligned buttons on small screen*/
    position: static;
    width: auto;
    height: auto;
}

#summary-filter-btn {
    grid-area: filter;
}

#summary-fr {
    grid-area: from;
}

#summary-to {
    grid-area: to;
}

#summary-title {
    grid-area: title;
}

#summary-fr,
#summary-to {
    display: inline-flex;
    width: 8.8rem;
}

#summary-fr > input, 
#summary-to > input {
    /*height: 33px;*/
    /*border: 1px solid;*/
    /*border-color: rgba(0, 0, 0, 0.3) !important;*/
    /*background-color: transparent;*/
}

/*.dark-bg #summary-fr > input,
.dark-bg #summary-to > input {
    border-color: rgba(255,255,255,0.3) !important;
}*/

#summary-subheader button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#summary-show-data-btn,
#summary-export-btn {
    min-width: 6rem;
}

#summary-subheader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 7rem 7rem 5.5rem 8.8rem 8.8rem 5.5rem 5.5rem;
    grid-template-areas: 'title show-data export today from to view filter';
    grid-gap: 0.2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(196, 204, 204, 0.5) !important;
    color: black;
}

.dark-bg #summary-subheader {
    background-color: #30383a !important;
    color: white;
}

#toggle-summary {
    display: none;
    grid-area: option;
    max-width: 8rem;
    justify-self: end;
    max-height: 1.9375rem;
    align-self: end;
}

#summary-content {
    /* flex-grow: 1; */
    /* overflow-y: scroll; */
    height: 100%;
}

/* tablet, small laptop */
@media only screen and (max-width: 920px) {
    #summary-subheader {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 2.5rem 8.8rem 8.8rem 7rem;
        grid-template-areas:
            'title .     show-data export filter' 
            '.     today from      to     view';
    }

    #summary-today-btn span {
        display: none;
    }
}

/* phone */
@media only screen and (max-width: 600px) {

    #summary-subheader {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title option';
        transition: ease-in-out .2s;
        height: 2.9375rem;
    }

    #summary-subheader.active {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 4.8rem 1fr 1fr 1fr 1fr 4.8rem;
        grid-template-areas:
            'title .     .   show-data export filter'
            'today from from from      from   view'
            'today to   to   to        to     view'
            '.     .    .    .         .      option';
        height: 9.8475rem;
        padding: 0.5rem 0.5rem;
    }

    #toggle-summary {
        display: unset;
    }

    #summary-show-data-btn,
    #summary-export-btn,
    #summary-filter-btn,
    #summary-today-btn,
    #summary-fr,
    #summary-to,
    #summary-view-btn {
        display: none;
    }

    .active > #summary-today-btn,
    .active > #summary-view-btn {
        align-self: stretch;
        display: inline-block;
    }

    .active > #summary-show-data-btn, 
    .active > #summary-export-btn, 
    .active > #summary-filter-btn {
        display: inline-block;
    }

    .active > #summary-fr,
    .active > #summary-to {
        display: inline-flex;
        width: auto;
    }

    #summary-content .table-responsive {
        /* height: calc(100vh - 9.618125rem); */
        /*fix for missing lower buttons, assume buttons has height=10%*/
        height: 90%;
    }

    #summary-content {
        overflow-y: scroll;
        /*subheader when expanded = 9.8475rem*/
        min-height: calc(100% - 9.8475rem);
    }
}

@media only screen and (max-width: 425px) {
    #summary-show-data-btn span {
        display: none;
    }

    #summary-export-btn span {
        display: none;
    }

    #summary-show-data-btn,
    #summary-export-btn {
        min-width: 2rem;
    }
}

table.dataTable thead th, table.dataTable tfoot th, th{
    font-weight: normal !important;
}

/* Add for fix on hidden bottom buttons */
/********************************************************************/
#summary-content div.table-responsive {
    /* 31px is the set min-height of "Show all jobs" button */
    max-height: calc(100% - 31px);
}

#summary-content div.showButton-container {
    min-height: 31px;
}
/********************************************************************/

/***************************http-1201 bug #21 fix - Improved 12-15-22***************************/
#summaryTbl_paginate
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#summaryTbl_paginate a.paginate_button.previous, #summaryTbl_paginate a.paginate_button.next
{
    padding-left: 0;
    padding-right: 0;
}

#summaryTbl_paginate>span
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#summary-tab .dataTables_info, #summary-tab .dataTables_paginate 
{
    float: none;
}

#summaryTbl_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 425px) {
    #summaryTbl_footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

#summaryTbl_info {
    /* Same as datatables css padding-top */
    padding-bottom: 0.85em;
    white-space: pre-line;
    word-break: normal;
}
/***********************************************************************************************/