.update-content {
  width: 100%;
  height: calc(100vh - 79px);
  overflow-y: auto;
  padding: 10px 30px;
}

.update-content > div > div > button {
  background: rgba(48,56,58,0.8);
  border-color: rgba(179,179,179,0.8);
  color: rgba(255,255,255,0.85);
}

.update-content > div > div > button:disabled {
  color: rgba(255,255,255,0.65);
}
