

#visualJobs, #visualDevice {
    display: inline-block;
    width: auto;
    text-overflow: ellipsis;
    /*height: 33px;*/
    /* font-size: 0.72rem; */
}

#productivity-title {
    /* width: 1px; */
    grid-area: title;
}

#productivity-fr, #productivity-to {
    display: inline-flex;
    width: 8.8rem;
    border-radius: 0.25rem;
}

#productivity-fr > input, 
#productivity-to > input, 
#productivity-interval > input {
    /*height: 33px;*/
    /*border: 1px solid #fff;*/
    /*border-color: rgba(0, 0, 0, 0.3) !important;*/
    /*background-color: transparent;*/
    /*color: black !important;*/
}

#productivity-interval > div {
    flex-grow: 1;
}

#productivity-interval > div > span{
    width: 100%;
}


#productivity-interval > input {
    /*flex: unset;*/
    width: 2.7rem;
    border-color: rgba(0, 0, 0, 0.3) !important;
}

/*.dark-bg #productivity-fr > input,
.dark-bg #productivity-to > input,
.dark-bg #productivity-interval > input {
    border-color: rgba(255,255,255,0.3) !important;
    color: #fff !important;
}*/

.dark-date {
    border-color: rgba(255,255,255,0.3) !important;
    color: #fff !important;
}

/* #productivity-fr > .input-group-prepend, #productivity-to > .input-group-prepend{
    border: 1px solid #fff;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-color: rgba(255,255,255,0.3) !important;
} */


#productivity-show-data-btn {
    grid-area: show-data;
}

#productivity-export-btn {
    grid-area: export;
}

#productivity-view-btn {
    grid-area: view;
}

#productivity-refresh-btn {
    grid-area: refresh;
}

#toggle-productivity {
    display: none;
    grid-area: option;
    max-width: 8rem;
    justify-self: end;
    max-height: 1.9375rem;
    align-self: end;
}

#visualDevice {
    grid-area: devselect;
}

#visualJobs {
    grid-area: jobselect;
}

#productivity-chart-btn-group {
    grid-area: chart-group;
}

#productivity-interval-btn-group {
    grid-area: interval-group;
}

#productivity-fr {
    grid-area: fr-input;
}

#productivity-to {
    grid-area: to-input;
}

#productivity-interval {
    grid-area: interval;
}

#productivity-subheader {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 7rem 6rem 8.8rem 4.8rem 3.8rem 5rem 4rem 3rem 7rem;
    grid-template-areas: 
        'title show-data export  fr-input    to-input    to-input    view        devselect      devselect      jobselect'
        '.     .         refresh chart-group chart-group chart-group chart-group interval-group interval-group interval';
    grid-gap: 0.2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(196, 204, 204, 0.5) !important;
    color: black;
}

.dark-bg #productivity-subheader {
    background-color: #30383a !important;
    color: white;
}

#productivity-subheader > button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* on mobile screens, this height is modified so that it is a fixed value. */

#visual-table-container {
    height: 100%;
}

/* Hanz: Fix for http-1201 bug #5 */
#visual-page {
    overflow-y: auto;
}
/**********************************/

@media only screen and (max-width: 960px) {
    #productivity-subheader {
        grid-template-rows: 1fr 1fr 1fr;
        /* grid-template-columns: 1fr 7rem 4rem 2rem 8.8rem 8.8rem 7rem 7rem;
        grid-template-areas:
            'title show-data export      export fr-input    to-input    view        refresh'
            '.     .         .           .      .           .           devselect   jobselect'
            '.     .         chart-group chart-group chart-group chart-group interval-group interval'; */
        grid-template-columns: 1fr 6rem 7rem 8.8rem 8.8rem 7rem;
        grid-template-areas:
            'title .         show-data   fr-input    to-input    view'
            '.     .         export      devselect   jobselect   refresh'
            '.     chart-group chart-group chart-group interval-group interval';
    }

    .graph-view {
        height: calc(100% - 170px) !important;
        top: 170px !important;
    }    
}

@media only screen and (max-width: 720px) {

    #productivity-fr, 
    #productivity-to, 
    #productivity-show-data-btn, 
    #productivity-export-btn,
    #productivity-refresh-btn,
    #productivity-view-btn,
    #productivity-interval-btn-group,
    #productivity-interval,
    #productivity-chart-btn-group,
    #visualJobs,
    #visualDevice{
        display: none;
    }

    .active > #productivity-fr, 
    .active > #productivity-to {
        display: inline-flex;
    }

    .active > #visualJobs, 
    .active > #visualDevice,
    .active > #productivity-show-data-btn, 
    .active > #productivity-export-btn,
    .active > #productivity-refresh-btn,
    .active > #productivity-view-btn {
        display: inline-block;
    }

    #productivity-chart-btn-group.active,
    #productivity-interval-btn-group.active,
    #productivity-interval.active {
        display: inline-flex;
    }

/*    #productivity-interval-btn-group.active {
        height: 33px;
    }*/

    #productivity-subheader {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'title option';
        transition: ease-in-out all .25s;
        /*height: 2.9375rem;*/
    }

    #productivity-subheader.active {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'title          title          title          title          .           .           show-data   export'
            'fr-input       fr-input       fr-input       fr-input       to-input    to-input    to-input    to-input'
            'devselect      devselect      devselect      devselect      jobselect   jobselect   jobselect   jobselect'
            '.              .              .              .              .           .           refresh     view'
            'interval-group interval-group interval-group interval-group interval    interval    interval    interval'
            'chart-group    chart-group    chart-group    chart-group    chart-group chart-group chart-group chart-group'
            '.              .              .              .              .           .           option      option'; */
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-areas:
            'title     title     .         .        '
            'show-data export    refresh   view'
            'fr-input  fr-input  to-input  to-input'
            'devselect devselect jobselect jobselect'
            'interval-group interval-group interval    interval'
            'chart-group    chart-group    chart-group chart-group'
            '.         .         option    option';
        transition: ease-in-out all .25s;
        /*height: 17.633125rem;*/
    }

    #toggle-productivity {
        display: unset;
    }

    #productivity-fr, #productivity-to {
        width: auto;
    }

/*    #productivity-export-btn,
    #productivity-show-data-btn {
        min-width: 6.2rem;
    }*/

    .graph-view {
        top: 295px !important;
        height: calc(100% - 295px) !important;
    }
}

@media only screen and (max-width: 360px) {

    #productivity-subheader > button {
        min-width: 2rem;
    }

    #productivity-subheader > button > span {
        display: none;
    }

    #toggle-productivity span {
        display: unset !important;
    }
}

@media only screen and (max-width: 570px) {
    /* #productivity-subheader {
        grid-template-areas:
            'title          .              .              .              .           .           show-data   export'
            'fr-input       fr-input       fr-input       fr-input       to-input    to-input    to-input    to-input'
            'devselect      devselect      devselect      devselect      jobselect   jobselect   jobselect   jobselect'
            '.              .              .              .              .           .           refresh     view'
            'interval-group interval-group interval-group interval-group interval    interval    interval    interval'
            'chart-group    chart-group    chart-group    chart-group    chart-group chart-group chart-group chart-group'
            '.              .              .              .              .           option      option      option';
    } */
}

@media only screen and (max-width: 400px) {
    /* #productivity-subheader {
        grid-template-areas:
            'title          .              .              .              .           .           show-data   export'
            'fr-input       fr-input       fr-input       fr-input       to-input    to-input    to-input    to-input'
            'devselect      devselect      devselect      devselect      jobselect   jobselect   jobselect   jobselect'
            '.              .              .              .              .           .           refresh     view'
            'interval-group interval-group interval-group interval-group interval    interval    interval    interval'
            'chart-group    chart-group    chart-group    chart-group    chart-group chart-group chart-group chart-group'
            '.              .              .              .              option     option      option      option';
    } */
}

/*************Hanz: Part of fix for http-1201 bug #8******************/
#productivity-subheader-parent {
    border-bottom: 1px solid #bf00e9;
}

@media only screen and (max-height: 400px) and (max-width: 720px){
    #productivity-subheader-parent {
        flex:0 0 auto;
        overflow-y: visible;
    }
    #productivity-subheader-parent.active {
        flex:0 0 150px;
        overflow-y: auto;
    }
}

@media only screen and (min-height: 401px) and (max-width: 720px){
    #productivity-subheader-parent {
        height: auto;
        overflow-y: visible;
    }
}
/*********************************************************************/

@media only screen and (max-width: 360px) {
    #productivity-subheader.active {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.7fr 1fr;
    }

    #productivity-chart-btn-group.active {
        height: 100%;
    }
}
@media only screen and (max-width: 290px) {
    #productivity-subheader.active {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2.5fr 1fr;
    }

}

.dark {
    color: #fff !important;
    /* background-color: #343a40 !important;
    border-color: #343a40 !important; */
    background-color: #444f51 !important;
    border-color: rgba(255,255,255,0.3) !important;
}

.dark-bg {
    background-color: #30383a !important;
}

.jp {
    font-size: 0.6rem !important;
}

.jp-md {
    font-size: 0.8rem !important;
}

/* http-1201 bug #21: For flex implementation */
#productivityTbl_paginate
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#productivityTbl_paginate a.paginate_button.previous, #productivityTbl_paginate a.paginate_button.next
{
    padding-left: 0;
    padding-right: 0;
}

#productivityTbl_paginate>span
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#visual-tab .dataTables_info, #visual-tab .dataTables_paginate 
{
    float: none;
}

#productivityTbl_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 425px) {
    #productivityTbl_footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

#productivityTbl_info {
    /* Same as datatables css padding-top */
    padding-bottom: 0.85em;
    white-space: pre-line;
    word-break: normal;
}