/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

#visual-page {
    /* position: fixed;
    width: 100%;
    padding-top: 6px; */
    /* height: calc(100% - 130px) !important;
	top: 130px !important;  */
    flex-grow: 1;
}

.graph-view {
    /* height: calc(100% - 130px) !important;
    top: 130px !important; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* .table-view {
    position: absolute !important;
    top: 90px;
} */

#visual-tab {
    display: flex;
    flex-direction: column;
}

#visual-tab .page-subheader-tbl select {
    float: right;
    margin: 3px 5px 0px 0px;
    width: 100px;
}

#visual-refresh-btn {
    float: right;
    background-color: #444f51 !important;
    border-color: rgba(255,255,255,0.3) !important;
}

@media only screen and (max-width: 720px) {
    #visual-refresh-btn {
        position: absolute;
        float: none;
        border-color: rgba(255,255,255,0.3) !important;
        top: -42px;
        right: 225px;
    }
}

/* #visual-addl-btn {
    background-color: rgba(196, 204, 204, 0.5);
} */

#visual-addl-btn .btn-group button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

#visual-addl-btn .btn-group button,
#visual-addl-btn div.input-group-prepend span {
    color: #fff;
    background-color: #343a40;
    border-color: gray;
}

#detailJobs {
    max-width: 146px;
}

#detailDevice {
    margin-right: 0;
}

#visual-tab div.canvasjs-chart-toolbar {
    top: 50px !important;
}

.dark-bg #visual-addl-btn .btn-group button {
    background-color: #444f51;
    border-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

.interval-label,
.date-realign-3 .form-control {
    background-color: #e1e5e5 !important;
    color: #495057 !important;
}

.dark-bg .date-realign-3 .form-control {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

.btn-group > button.active {
    background-color: gray !important;
}

.dark-bg .btn-group > button.active {
    background-color: transparent !important;
}

.dark-bg #detail-tab div.detailTable:last-child {
    background-color: #32373a;
}

#visual-container {
    transition: opacity 0.2s;
}

.page-subheader-tbl div.light {
    background-color: rgba(196, 204, 204, 0.5) !important;
}

#visual-tab > .page-subheader-tbl > div {
    height: 90px;
}

/*@media (max-width: 1135px) {
    #graph-btn label,
    button.today-btn span {
        display: none;
    }
}*/

@media (max-width: 1120px) {
    #visual-export-btn > label,
    #visual-tab .today-btn > span,
    #visual-tab .view-btn > span {
        display: none;
    }

    #visual-show-data-btn > label {
        display: none;
    }

    #switch-detail-data-btn > label {
        display: none;
    }
}

#detail-tab .page-subheader-tbl {
    height: auto !important;
}

@media (max-width: 1310px) {
    #detail-tab .table-header-btn {
        margin-top: 0px;
    }

    #detail-tab
        .page-subheader-tbl
        .row
        div:nth-child(1):not(.input-group-prepend) {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    #detail-tab .page-subheader-tbl .row div:nth-child(2) {
        position: relative;
        height: 34px;
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    /* #detail-tab .page-subheader-tbl .row div > label,
    .page-subheader-tbl .row div > div {
        background-color: rgba(196, 204, 204, 0.5);
    } */

    #detail-tab .header-btn-grp {
        padding-bottom: 5px;
        height: calc(100% + 4px);
    }

    #detail-tab .page-subheader-tbl > div {
        background-color: transparent;
    }

    #detail-tab .tbl-container {
        height: calc(100vh - 127px);
    }

    #detail-tab .page-subheader-tbl {
        height: 78px;
    }

    #detail-tab .view-btn {
        margin-right: 15px;
    }

    #detailDevice,
    #detailJobs {
        position: absolute;
        top: -37px;
        right: 30px;
        margin-right: 0px !important;
    }

    #switch-productivity-data-btn {
        position: absolute;
        top: -34px;
        right: 296px;
    }

    #detailDevice {
        right: 179px;
    }
}

@media (max-width: 940px) {
    #visual-tab .page-subheader-tbl {
        height: 82px;
    }

    #visual-addl-btn {
        top: 86px !important;
    }

    #visual-more-btn {
        position: absolute;
        top: 41px;
        right: 15px;
    }

    /* #visual-page {
		height: calc(100% - 170px) !important;
    	top: 170px !important;
		height: calc(100% - 210px) !important;
    	top: 210px !important;
	} */

    /* .graph-view {
        height: calc(100% - 170px) !important;
        top: 170px !important;
    } */

    /* .table-view {
        top: 130px !important;
    } */

    #visual-tab .view-btn {
        margin-right: 15px;
    }

    #visual-tab > .page-subheader-tbl > div {
        height: 130px;
    }
}

@media (max-width: 760px) {
    #visual-tab .today-btn,
    #visual-tab .view-btn,
    #visual-tab .table-header-btn,
    #visual-more-btn {
        margin-top: 3px !important;
    }
}

@media (max-width: 670px) {
    /* #visual-page {
		top: 199px !important;
    	height: calc(100% - 199px) !important;
	} */

    /* .graph-view {
		top: 199px !important;
    	height: calc(100% - 199px) !important;
	} */
}

@media (max-width: 575px) {
    #visual-export-btn > label,
    #visual-tab .today-btn > span,
    #visual-tab .view-btn > span,
    #detail-tab .today-btn > span,
    #detail-tab .view-btn > label {
        display: inline-block;
    }

    #visual-show-data-btn > label {
        display: inline-block !important;
    }

    #visual-export-btn > label {
        display: inline-block !important;
    }

    #visual-refresh-btn {
        right: 83px;
        top: -43px;
    }

    #visual-show-data-btn {
        position: absolute;
        top: -41px;
        right: 115px;
    }

    #switch-detail-data-btn {
        position: absolute;
        top: -41px;
        right: 227px;
    }

    #switch-productivity-data-btn {
        position: absolute;
        top: -33px;
        right: 233px;
    }

    #visual-export-btn {
        position: absolute;
        top: -41px;
        right: 30px;
    }

    #graph-btn {
        position: absolute;
        top: -33px;
        right: 113px;
    }

    #visual-tab .date-container,
    #detail-tab .date-container {
        width: calc(50% - 30px) !important;
    }

    #visual-tab .header-btn-grp,
    #detail-tab .page-subheader-tbl .row div:nth-child(2) {
        height: 131px;
    }

    #visual-tab .date-realign-1,
    #detail-tab .date-realign-1 {
        position: absolute;
        right: 30px;
        top: 0px;
    }

    #visual-tab .date-realign-2,
    #detail-tab .date-realign-2 {
        position: absolute;
        right: 30px;
        top: 41px;
    }

    #detailDevice,
    #detailJobs,
    #detail-tab .date-realign-1,
    #detail-tab .date-realign-2 {
        margin: 0;
        max-width: unset;
        margin-top: 5px;
    }

    
    #detailDevice {
        top: 0px;
        left: 30px;
        margin-left: 0px !important;
    }

    #visual-tab .page-subheader-tbl select,
    #detail-tab .page-subheader-tbl select {
        width: calc(50% - 35px);
    }

    #visual-more-btn {
        top: 82px;
    }

    #visual-tab .today-btn,
    #detail-tab .today-btn {
        position: absolute;
        right: 30px;
        top: 82px;
        left: unset;
        width: unset;
        height: unset;
    }

    #visual-tab .view-btn,
    #detail-tab .view-btn {
        position: absolute;
        right: 30px;
        top: 82px;
        margin-right: 0px;
        width: unset;
        height: unset;
    }

    #detail-tab .view-btn {
        right: 30px;
        margin-top: 5px;
    }

    /* #detail-refresh-btn {
        position: absolute;
        right: 100px;
        top: 87px;   
    } */

    #detail-tab .today-btn {
        right: 98px;
        margin-top: 5px;
    }

    #visual-tab div.btn-group.interval-input,
    #detail-tab div.btn-group.interval-input {
        position: absolute;
        left: 15px;
        width: calc(50% - 20px) !important;
    }

    #visual-tab .date-realign-3 {
        width: calc(50%) !important;
    }

    #visual-tab div.btn-group.visual-type {
        position: absolute;
        top: 41px;
        left: 15px;
        width: calc(100% - 30px) !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        border: none !important;
    }

    /* #visual-page {
		top: 295px !important;
    	height: calc(100% - 295px) !important;
	} */

    /* .graph-view {
        top: 295px !important;
        height: calc(100% - 295px) !important;
    } */

    /* .table-view {
        top: 220px !important;
        height: calc(100% - 165px) !important;
    } */

    /* #timegraph-page {
        height: calc(100% - 135px) !important;
    } */

    #timegraph {
        /* margin-top: 90px; */
        /*height: calc(100% - 135px) !important;*/
        height: 100% !important;
    }

    #visual-addl-btn {
        top: 172px !important;
    }

    #visual-addl-btn > div {
        position: absolute;
    }

    #visual-tab div.canvasjs-chart-toolbar {
        top: 75px !important;
    }

    #visual-tab > .page-subheader-tbl > div {
        height: 250px;
    }
}

@media (max-width: 399px) {
    /* #visual-page {
    	top: 310px !important;
    	height: calc(100% - 310px) !important;
	} */

    /* .graph-view {
        top: 310px !important;
        height: calc(100% - 310px) !important;
    } */

    #visual-addl-btn > div {
        height: 97px !important;
    }
}

@media (max-width: 1256px) {
    #switch-detail-data-btn > label {
        display: none;
    }
    #visual-export-btn > label {
        display: none;
    }
    #visual-show-data-btn > label {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #switch-productivity-data-btn > label {
        display: none;
    }
}
